@import url('./assets/styles/reset.css');
@import url('./assets/styles/layout.css');
@import url('./assets/styles/typography.css');
@import url('./assets/styles/typography.css');

body {
    max-width: 1366px;
    margin: auto;
    position: relative;
    min-height: 100vh;
    font-optical-sizing: auto;
    background-color: #e4e3e3;
}

.container {
    width: 90%;
    margin: auto;
    padding-bottom: 4.5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
    border-bottom: 1px dashed #999;
}

span {
    font-weight: bold;
}

button {
    background-color: #4ebced;
    color: white;
}

button:hover {
    cursor: pointer;
}

/* mini-navbar */

.mini-navbar ul {
    margin-bottom: 60px;
    margin-right: -50px;
}

.mini-navbar ul li {
    background-color: #ff9f00;
    width: 15vw;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    text-shadow: 1px 1px rgb(95, 94, 94);
}

.mini-navbar ul li:hover {
    scale: 1.1;

}

/* main  */

main {
    width: 50%;
}

/* aside  */

aside {
    width: 29%;
    margin-top: 1em;
    font-size: 0.8em;
}

.aside * {
    margin: 0;
    padding: 0;
}

.aside>div {
    border: 1px solid #999;
    border-radius: 0.3em;
    padding: 0.3em 0.5em;
}

.title {
    font-size: 1.5em;
    border-bottom: none;
}

.aside .aside-theme {
    margin: 1rem 0;
    padding: 0.5rem 0;
}

.aside h3 {
    border-bottom: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    background-color: #306085;
    padding-left: 0.5rem;
    color: white;
    text-shadow: 1px 1px rgb(43, 42, 42);
}

.aside-theme+.aside-theme {
    border-top: dashed 1px #999;
}

.aside-theme p {
    text-align: right;
}

.aside-theme a {
    text-decoration: none;
    color: inherit;
}